**/*~
*.pyc
__pycache__
**/*genmod.f90
slurm-*
mod
obj
pyparse/__pycache__
pyparse/iondens_ass.py
/dat
/exe
/equ
/exp
/fml
/fnc
/helena
/inc
/lib
/ncdf_out
/sbr
/xpr
/ipc
/strahl
/tmp
/udb
/qualikiz
/tglf
/.res
/bin
user
profiles.dat
