**/*~
*.pyc
__pycache__
**/*genmod.f90
slurm-*
mod
obj
pyparse/__pycache__
pyparse/iondens_ass.py
/dat
/exe
/equ
/exp
/fml
/fnc
/helena
/lib
/ncdf_out
/sbr
/xpr
/ipc
/tmp
/udb
/neo
/preProcess
/qualikiz
/tglf
/.res
/bin
/src/tmp
user
profiles.dat
*_backup
regressions/*.log
lastruntime.qlk
out.neo.*
preProcess/memo
